{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    'single-slider',
    'slider-height',
    'd-flex',
    'align-items-center',
    'hero',
    paragraph_hero_item.style == 'hero_style_1' or paragraph_hero_item.style is empty ? 'hero--style-1',
    paragraph_hero_item.style == 'hero_style_2' ? 'hero--style-2',
    paragraph_hero_item.style == 'hero_style_3' ? 'hero--style-3',
    paragraph_hero_item.style == 'hero_style_4' ? 'hero--style-4'
  ]
%}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}{% if paragraph_hero_item.image_source %} data-background="{{ paragraph_hero_item.image_source }}"{% endif %}>
    <div class="container">
      <div class="row d-flex align-items-center">
        {% block content %}
          {% if paragraph_hero_item.style == 'hero_style_2' %}
            <div class="col-lg-5 d-none d-xl-block">
              <div class="hero__img" data-animation="fadeInLeft" data-delay="1s">
                {{ content.field_image }}
              </div>
            </div>
            <div class="col-lg-7 col-md-9 ">
              <div class="hero__caption">
                <h1 class="hero__title" data-animation="fadeInRight" data-delay=".4s">
                  {{- content.field_heading -}}
                  {{- content.field_subheading -}}
                </h1>
                <div class="hero__text" data-animation="fadeInRight" data-delay=".6s">
                  {{ content|without('field_heading', 'field_subheading', 'field_image', 'field_link') }}
                </div>
                <div class="hero__link" data-animation="fadeInRight" data-delay=".8s">
                  {{ content.field_link }}
                </div>
              </div>
            </div>
          {% elseif paragraph_hero_item.style == 'hero_style_3' %}
            <div class="col-lg-6 col-md-12">
              <div class="hero__caption">
                <h1 class="hero__title" data-animation="fadeInRight" data-delay=".4s">
                  {{- content.field_heading -}}
                  {{- content.field_subheading -}}
                </h1>
                <div class="hero__text" data-animation="fadeInRight" data-delay=".6s">
                  {{ content|without('field_heading', 'field_subheading', 'field_image', 'field_link') }}
                </div>
                <div class="hero__link" data-animation="fadeInRight" data-delay=".8s">
                  {{ content.field_link }}
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="hero__img" data-animation="fadeInRight" data-delay="1s">
                {{ content.field_image }}
              </div>
            </div>
          {% elseif paragraph_hero_item.style == 'hero_style_4' %}
            <div class="col-lg-6 col-md-12">
              <div class="hero__img" data-animation="fadeInRight" data-delay="1s">
                {{ content.field_image }}
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="hero__caption">
                <h1 class="hero__title" data-animation="fadeInRight" data-delay=".4s">
                  {{- content.field_heading -}}
                  {{- content.field_subheading -}}
                </h1>
                <div class="hero__text" data-animation="fadeInRight" data-delay=".6s">
                  {{ content|without('field_heading', 'field_subheading', 'field_image', 'field_link') }}
                </div>
                <div class="hero__link" data-animation="fadeInRight" data-delay=".8s">
                  {{ content.field_link }}
                </div>
              </div>
            </div>
          {% else %}
            <div class="col-lg-7 col-md-9 ">
              <div class="hero__caption">
                <h1 class="hero__title" data-animation="fadeInRight" data-delay=".4s">
                  {{- content.field_heading -}}
                  {{- content.field_subheading -}}
                </h1>
                <div class="hero__text" data-animation="fadeInRight" data-delay=".6s">
                  {{ content|without('field_heading', 'field_subheading', 'field_image', 'field_link') }}
                </div>
                <div class="hero__link" data-animation="fadeInRight" data-delay=".8s">
                  {{ content.field_link }}
                </div>
              </div>
            </div>
            <div class="col-lg-5 d-none d-lg-block">
              <div class="hero__img" data-animation="fadeInRight" data-delay="1s">
                {{ content.field_image }}
              </div>
            </div>
          {% endif %}
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock paragraph %}
