/*-------------   Color variabel  --------------*/
.white-bg {
  background: #ffffff;
}

.gray-bg {
  background: #f5f5f5;
}

/*-------------Color include--------------*/
/*-- Background color---*/
.gray-bg {
  background: #f7f7fd;
}

.white-bg {
  background: #ffffff;
}

.black-bg {
  background: #16161a;
}

.theme-bg {
  background: #ff5c97;
}

.brand-bg {
  background: #f1f4fa;
}

.testimonial-bg {
  background: #f9fafc;
}

/*--- color------*/
.white-color {
  color: #ffffff;
}

.black-color {
  color: #16161a;
}

.theme-color {
  color: #ff5c97;
}

/*------------------- Responsive --------------------------*/
/*
    @include transition(.4s);
    color:$theme-color;
*/
.boxed-btn {
  background: #fff;
  color: #ff5c97 !important;
  display: inline-block;
  padding: 18px 44px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #ff5c97;
  letter-spacing: 3px;
  text-align: center;
  color: #ff5c97;
  text-transform: uppercase;
  cursor: pointer;
}
.boxed-btn:hover {
  background: #ff5c97;
  color: #fff !important;
  border: 1px solid #ff5c97;
}
.boxed-btn:focus {
  outline: none;
}
.boxed-btn.large-width {
  width: 220px;
}

/* Utility */
img {
  max-width: 100%;
  height: auto;
}

/* Form */
input,
textarea {
  width: 100%;
  border: 1px solid #e5e6e9;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  font-size: 13px;
  background: transparent;
}

input {
  min-height: 48px;
}

input[type="submit"] {
  width: auto;
  background: #fff;
  display: inline-block;
  padding: 10px 15px;
  font-family: "Poppins",sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #ff5c97;
  letter-spacing: 3px;
  text-align: center;
  color: #ff5c97;
  text-transform: uppercase;
  cursor: pointer;
  height: auto;
}
input[type="submit"]:hover,
input[type="submit"]:focus {
  background: #ff5c97;
  color: #fff;
  border: 1px solid #ff5c97;
}

/* Status messages */
[data-drupal-messages] {
  padding: 0.5rem 1rem;
  background: #fafafa;
  margin-bottom: 2rem;
  border: 1px solid #eee;
}

/* Admin tabs */
#block-tabs ul {
  margin: 1rem 0;
}
#block-tabs ul li {
  display: inline-block;
}
#block-tabs ul li a {
  display: block;
  color: #555555;
  padding: 0.5rem;
  border: 1px solid #555555;
  line-height: 1;
}

/* Layout */
.dialog-off-canvas-main-canvas {
  position: relative;
}
.sticky-bar {
  top: unset;
}

/* Search form */
.search-block-form form {
  position: relative;
}

.search-block-form .form-actions {
  position: absolute;
  right: 0;
  top: 0;
}

.search-block-form input[data-drupal-selector="edit-keys"] {
  width: 100%;
  background-color: #fff;
  height: 50px;
  border-color: #f0e9ff;
  font-size: 13px;
  color: #999999;
}

.search-block-form input[type="submit"] {
  background: #ff5c97;
  border: 1px solid #f0e9ff;
  padding: 5px 10px;
  color: #fff;
  height: 50px;
}

.search-form {
  margin-bottom: 30px;
}
.search-form label,
.search-form .search-help-link {
  display: none;
}
.search-form input {
  width: auto;
}

.search-results {
  margin: 0;
  padding: 0;
}
.search-results__item {
  margin: 30px 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}
.search-results__item:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}
.search-results a {
  color: unset;
}
.search-results a:hover,
.search-results a:focus {
  color: unset;
}

/* Newsletter form */
.newsletter-form input {
  background-color: #fff;
  width: 100%;
  margin-bottom: 1rem;
}
.newsletter-form input[type="submit"] {
  margin-bottom: 0;
}

/* Contact form */
.contact-form input,
.contact-form textarea {
  margin-bottom: 30px;
}

/* Section title */
.section-tittle h2 span {
  color: #2b4b80;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 66px;
  line-height: 1.3;
}
.section-tittle h2 span:before {
  content: unset;
}

/* Page header */
.page__header {
  padding-top: 270px;
}

/* Blog aside */
.post_category_widget a {
  display: block;
  font-size: 16px;
  line-height: 30px;
  color: #888888;
  border-bottom: 1px solid #f0e9ff;
  transition: all 0.3s ease 0s;
  padding-top: 15px;
  padding-bottom: 15px;
}

.post_category_widget .views-row:first-child a {
  padding-top: 0;
}

.post_category_widget .views-row:last-child a {
  padding-bottom: 0;
  border-bottom: 0;
}

.popular_post_widget .post_item {
  margin-bottom: 20px;
}

.popular_post_widget .views-row:last-child .post_item {
  margin-bottom: 0;
}

.tag_cloud_widget a {
  border: 1px solid #eeeeee;
  background: #fff;
  padding: 4px 20px;
  transition: all 0.3s ease 0s;
  color: #888888;
  font-size: 13px;
}
.tag_cloud_widget a:hover,
.tag_cloud_widget a:focus {
  background: #ff5c97;
  color: #fff;
  -webkit-text-fill-color: #fff;
  text-decoration: none;
  transition: 0.5s;
}

.tag_cloud_widget .views-row {
  display: inline-block;
  margin-right: 3px;
  margin-bottom: 8px;
}

/* Blog like button */
.flag-like {
  display: inline-block;
  margin-right: 10px;
}
.flag-like a {
  font-size: 16px;
  color: #707b8e;
}

/* Blog share button */
.addtoany_list a {
  display: inline-block;
  margin-right: 15px;
  color: #999999;
  padding: 0;
  font-size: 14px;
}
.addtoany_list a:hover,
.addtoany_list a:focus {
  color: #ff5c97;
}

/* Contact */
.contact-info__icon {
  width: 30px;
  text-align: center;
}

/* Footer */
.footer-main .footer-tittle h2 {
  color: #012f5f;
  font-size: 20px;
  margin-bottom: 48px;
  font-weight: 500;
  text-transform: capitalize;
}

.footer-main .footer-pera p {
  margin-bottom: 10px;
  line-height: 1.8;
}

.footer-main .footer-social {
  margin-top: 50px;
}
.footer-main .footer-social ul li {
  display: inline-block;
}
.footer-main .footer-social ul li a {
  display: block;
}

/* Comment form */
.comment-list .user {
  width: 100%;
}
.comment-list .user h5 {
  font-size: 16px;
  margin-bottom: 0px;
}
.comment-list .user .thumb {
  min-width: 70px;
  margin-right: 20px;
}
.comment-list .user .desc {
  min-width: calc(100% - 70px);
}
.comment-list .user .date {
  font-size: 14px;
  color: #999999;
  margin-bottom: 0;
  margin-left: 20px;
}

.comment-list ul.links li {
  display: inline-block;
}
.comment-list ul.links li a {
  background-color: transparent;
  color: #888888;
  padding: 5px 18px;
  font-size: 14px;
  display: block;
  font-weight: 400;
  text-transform: uppercase;
}

.comments-area .indented {
  margin-left: 30px;
  padding-bottom: 48px;
}

.comment-form form {
  border-top: unset;
  padding-top: unset;
  margin-top: unset;
  margin-bottom: unset;
}

.comment-form textarea,
.comment-form input {
  width: 100%;
  border-radius: 0;
  margin-bottom: 30px;
}

.comment-form .filter-wrapper {
  display: none;
}

.comment-form [data-drupal-selector="edit-submit"] {
  width: auto;
}

/* Hero block */
.hero--style-2 .hero__img img {
  margin-left: -50px;
  padding-top: 50px;
}

.hero--style-3 .hero__caption .hero__title,
.hero--style-4 .hero__caption .hero__title {
  font-size: 50px;
}

.hero--style-3 .hero__text,
.hero--style-4 .hero__text {
  margin-bottom: 55px;
  padding-right: 55px;
}

.hero .hero__caption p {
  margin-bottom: unset;
  padding-right: unset;
}

.hero__text {
  margin-bottom: 55px;
  padding-right: 155px;
}

.hero__img img {
  display: block;
  min-width: 100%;
  margin: 0;
  padding: 0;
}

.hero__title {
  font-size: 65px;
  font-weight: 700;
  color: #2b4b80;
  line-height: 1.2;
  text-transform: capitalize;
  margin-bottom: 40px;
}

.hero__link a {
  background: #ff5c97;
  -moz-user-select: none;
  text-transform: capitalize;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 0;
  margin-bottom: 0;
  border-radius: 5px;
  min-width: 200px;
  transition: color 0.4s linear;
  position: relative;
  z-index: 1;
  border: 0;
  overflow: hidden;
  padding: 30px 56px;
}

/* Inquiry block */
.block--inquiry {
  position: relative;
  padding: 64px 69px 54px 78px;
  background-repeat: no-repeat;
  border-radius: 10px;
  background-size: cover;
}
.block--inquiry:before {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  content: "";
  border-radius: 10px;
  opacity: 0.95;
  background-image: linear-gradient(90deg, #ff5c98 0%, #7b40c0 100%);
}
.block--inquiry .block__title {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 13px;
}
.block--inquiry .block__text {
  padding-right: 20px;
  margin-bottom: 30px;
}
.block--inquiry .block__link .btn {
  position: relative;
  background: #fff;
  color: #7b40c0;
}
.block--inquiry .block__link .btn:hover,
.block--inquiry .block__link .btn:focus {
  color: #fff;
}
.block--inquiry p {
  color: #fff;
}

/* Card */
.card {
  border-radius: 6px;
  border: 1px solid #f2f2f2;
  transition: all .3s ease-out 0s;
  padding: 1.5rem;
}
.card--white {
  background: #fff;
}
.card--horizontal {
  -ms-flex-direction: row;
  flex-direction: row;
}
.card__link i {
  background: #c5ccd8;
  width: 24px;
  height: 24px;
  display: inline-block;
  line-height: 24px;
  color: #fff;
  border-radius: 50%;
  margin-right: 7px;
  transition: all .3s ease-out 0s;
  text-align: center;
}
.card__link a {
  color: #c5ccd8;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  transition: all .3s ease-out 0s;
}
.card:hover,
.card:focus {
  box-shadow: 0px 10px 30px 0px rgba(133, 66, 189, 0.1);
}
.card:hover .card__link i,
.card:focus .card__link i {
  background: #7b40c0;
}
.card:hover .card__link a,
.card:focus .card__link a {
  color: #7b40c0;
}

@media (min-width: 992px) {
  .block--inquiry .block__link {
    float: right;
} }

/* Blog content */
.single-post-area .blog_details blockquote {
  background: rgba(130, 139, 178, 0.1);
  padding: 15px;
  line-height: 1.733;
  color: #888888;
  font-style: italic;
  margin-top: 25px;
  margin-bottom: 25px;
}
.single-post-area .blog_details blockquote p {
  background: #fff;
  padding: 15px 15px 15px 20px;
  border-left: 2px solid;
  margin: 0;
}

.single-post-area .feature-img img {
  width: 100%;
}

.single-post-area .navigation-area .thumb {
  max-width: 60px;
}

.blog-tags {
  display: inline-block;
}
.blog-tags span:after {
  content: ', ';
}
.blog-tags span:last-child:after {
  content: '';
}

.blog_item_img img {
  display: block;
  width: 100%;
}

.article__like {
  color: #707b8e;
  font-size: 14px;
}

.article__card .article__featured-image {
  overflow: hidden;
  border-radius: 10px;
}
.article__card .article__featured-image img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 40px;
  transition: all .4s ease-out 0s;
  -ms-transform: rotate(1deg) scale(1);
  transform: rotate(1deg) scale(1);
}

.article__card .article__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 26px;
  padding-right: 27px;
}
.article__card .article__title a {
  color: #2b4b80;
}
.article__card .article__title a:hover,
.article__card .article__title a:focus {
  color: #ff5c97;
}

.article__card .article__body p {
  color: #ff5c97;
}

.article__card .article__link {
  color: #233d63;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 27px;
  display: block;
  padding-left: 65px;
  position: relative;
}
.article__card .article__link:before {
  position: absolute;
  content: "";
  width: 40px;
  height: 3px;
  background: #7b40c0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
}

@media (min-width: 768px) {
  .single-post-area .blog_details blockquote {
    padding: 30px;
}
  .single-post-area .blog_details blockquote p {
    padding: 25px 25px 25px 30px;
} }

/* Navigation */
.header-right-btn .header-btn {
  padding: 20px 11px;
}

/*# sourceMappingURL=maps/style.css.map */
