{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
  set classes = [
    'block',
    'block--service',
    block_service.style == '3_columns' ? 'block--service-cols-3',
    block_service.style == '4_columns' ? 'block--service-cols-4'
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}

  {% if block_service.style == '3_columns' %}
    <div class="row">
      {% for item in block_service.item %}
        <div class="col-lg-4 col-md-6">
          <div class="card single-do text-center mb-30">
            <div class="card__icon do-icon">
              <span class="{{ item.icon }}"></span>
            </div>
            <div class="card__body do-caption">
              <h4 class="card__title">{{ item.heading }}</h4>
              <div class="card__text">
                <p>{{ item.text }}</p>
              </div>
            </div>
            {% if item.link.title or item.link.url %}
              <div class="card__link do-btn">
                <a href="{{ item.link.url }}"><i class="ti-arrow-right"></i> {{ item.link.title }}</a>
              </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {% if block_service.style == '4_columns' %}
    <div class="row">
      {% for item in block_service.item %}
        <div class="col-lg-6 col-md-6">
          <div class="card card--horizontal single-generating d-flex mb-30">
            <div class="card__icon generating-icon">
              <span class="{{ item.icon }}"></span>
            </div>
            <div class="card__body generating-cap">
              <h4 class="card__title">{{ item.heading }}</h4>
              <div class="card__text">
                <p>{{ item.text }}</p>
              </div>
              {% if item.link.title or item.link.url %}
                <div class="card__link generating-btn">
                  <a href="{{ item.link.url }}"><i class="ti-arrow-right"></i> {{ item.link.title }}</a>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {% block content %}
    {{ content|without('field_service_item') }}
  {% endblock %}
</div>
