{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
  set classes = [
    'block',
    'block--inquiry'
  ]
%}

<div{{ attributes.addClass(classes) }} data-background="{{ block_inquiry.image_source }}">
  <div class="row d-flex align-items-center">
    <div class="col-xl-7 col-lg-9 col-md-12">
      <div class="block__body">
        {{ title_prefix }}
        <h2{{ title_attributes.addClass('block__title') }}>{{ content.field_heading }}</h2>
        {{ title_suffix }}
        {% block content %}
          <div class="block__text">
            {{ content|without('field_heading', 'field_image', 'field_link') }}
          </div>
        {% endblock %}
      </div>
    </div>
    <div class="col-xl-5 col-lg-3 col-md-12">
      <div class="block__link">
        {{ content.field_link }}
      </div>
    </div>
  </div>
</div>
