<div class="blog-author">
  <div class="media align-items-center">
    {{ author_picture }}
    <div class="media-body">
      <h4>{{ author_name }}</h4>
      {{ node_author_bio|raw }}
    </div>
  </div>
</div>
