{#
/**
 * @file
 * Default theme implementation for the flippy pager.
 *
 * Available variables:
 * - node: The current node.
 * - first: The first pager link.
 * - prev: The previous pager link.
 * - random: The random pager link.
 * - next: The first pager link.
 * - last: The last pager link.
 *
 * @see template_preprocess_flippy()
 *
 * @ingroup themeable
 */
#}
<div class="navigation-area">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
      <div class="thumb">
        <a href="{{ node_previous.url }}">
          {% if node_previous.image_source is not empty %}
            <img class="img-fluid" src="{{ node_previous.image_source }}" alt="">
          {% endif %}
        </a>
      </div>
      <div class="arrow">
        <a href="{{ node_previous.url }}">
          <span class="lnr text-white ti-arrow-left"></span>
        </a>
      </div>
      <div class="detials">
        <p>{{ node_previous.label }}</p>
        <a href="{{ node_previous.url }}">
          <h4>{{ node_previous.title|length > 24 ? node_previous.title|slice(0, 24) ~ '...' : node_previous.title }}</h4>
        </a>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
      <div class="detials">
        <p>{{ node_next.label }}</p>
        <a href="{{ node_next.url }}">
          <h4>{{ node_next.title|length > 24 ? node_next.title|slice(0, 24) ~ '...' : node_next.title }}</h4>
        </a>
      </div>
      <div class="arrow">
        <a href="{{ node_next.url }}">
          <span class="lnr text-white ti-arrow-right"></span>
        </a>
      </div>
      <div class="thumb">
        <a href="{{ node_next.url }}">
          {% if node_next.image_source is not empty %}
            <img class="img-fluid" src="{{ node_next.image_source }}" alt="">
          {% endif %}
        </a>
      </div>
    </div>
  </div>
</div>
