{% set background_image = '/' ~ directory ~ '/assets/img/shape/footer_bg.png'  %}

<footer class="footer-main" data-background="{{ background_image }}">
  <div class="footer-area footer-padding">
    <div class="container">
      <div class="row d-flex justify-content-between">
        <div class="col-lg-3 col-md-4 col-sm-8">
          {{ page.footer_1 }}
        </div>
        <div class="col-lg-2 col-md-4 col-sm-5">
          {{ page.footer_2 }}
        </div>
        <div class="col-lg-2 col-md-4 col-sm-7">
          {{ page.footer_3 }}
        </div>
        <div class="col-lg-3 col-md-4 col-sm-5">
          {{ page.footer_4 }}
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom-area footer-bg">
    <div class="container">
      <div class="footer-border">
        <div class="row d-flex align-items-center">
          <div class="col-xl-12">
            <div class="footer-copy-right text-center">
              <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </p>
              <p>This Drupal theme is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://www.drupal.org/spinetta" target="_blank">Spinetta</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
