<header class="header-area header-transparrent">
  <div class="main-header header-sticky">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-2 col-lg-2">
          {{ page.branding }}
        </div>
        <div class="col-xl-8 col-lg-8 col-md-8">
          <div class="main-menu f-right d-none d-lg-block">
            {{ page.navigation }}
          </div>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-3">
          <div class="secondary-menu header-right-btn f-right d-none d-lg-block">
            {{ page.secondary_navigation }}
          </div>
        </div>
        <div class="col-12">
          <div class="main-menu__mobile mobile_menu d-block d-lg-none"></div>
        </div>
      </div>
    </div>
  </div>
</header>
