/* Layout */
.dialog-off-canvas-main-canvas {
  position: relative;
}
.sticky-bar {
  top: unset;
}

/* Search form */
.search-block-form {
  form {
    position: relative;
  }
  .form-actions {
    position: absolute;
    right: 0;
    top: 0;
  }
  input[data-drupal-selector="edit-keys"] {
    width: 100%;
    background-color: #fff;
    height: 50px;
    border-color: #f0e9ff;
    font-size: 13px;
    color: #999999;
  }
  input[type="submit"] {
    background: #ff5c97;
    border: 1px solid #f0e9ff;
    padding: 5px 10px;
    color: #fff;
    height: 50px;
  }
}

.search-form {
  margin-bottom: 30px;
  label, .search-help-link {
    display: none;
  }
  input {
    width: auto;
  }
}

.search-results {
  margin: 0;
  padding: 0;
  &__item {
    margin: 30px 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
    &:last-child {
      padding-bottom: 0;
      border-bottom: 0;
    }
  }
  a {
    color: unset;
    &:hover, &:focus {
      color: unset;
    }
  }
}

/* Newsletter form */
.newsletter-form {
  input {
    background-color: #fff;
    width: 100%;
    margin-bottom: 1rem;
    &[type="submit"] {
      margin-bottom: 0;
    }
  }
}

/* Contact form */
.contact-form {
  input, textarea {
    margin-bottom: 30px;
  }
}

/* Section title */
.section-tittle {
  h2 {
    span {
      color: #2b4b80;
      font-size: 50px;
      font-weight: 700;
      margin-bottom: 66px;
      line-height: 1.3;
      &:before {
        content: unset;
      }
    }
  }
}

/* Page header */
.page__header {
  padding-top: 270px;
}

/* Blog aside */
.post_category_widget {
  a {
    display: block;
    font-size: 16px;
    line-height: 30px;
    color: #888888;
    border-bottom: 1px solid #f0e9ff;
    transition: all 0.3s ease 0s;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .views-row {
    &:first-child {
      a {
        padding-top: 0;
      }
    }
    &:last-child {
      a {
        padding-bottom: 0;
        border-bottom: 0;
      }
    }
  }
}

.popular_post_widget {
  .post_item {
    margin-bottom: 20px;
  }
  .views-row {
    &:last-child {
      .post_item {
        margin-bottom: 0;
      }
    }
  }
}

.tag_cloud_widget {
  a {
    border: 1px solid #eeeeee;
    background: #fff;
    padding: 4px 20px;
    transition: all 0.3s ease 0s;
    color: #888888;
    font-size: 13px;
    &:hover, &:focus {
      background: #ff5c97;
      color: #fff;
      -webkit-text-fill-color: #fff;
      text-decoration: none;
      -webkit-transition: 0.5s;
      transition: 0.5s;
    }
  }
  .views-row {
    display: inline-block;
    margin-right: 3px;
    margin-bottom: 8px;
  }
}

/* Blog like button */
.flag-like {
  display: inline-block;
  margin-right: 10px;
  a {
    font-size: 16px;
    color: #707b8e;
  }
}

/* Blog share button */
.addtoany_list {
  a {
    display: inline-block;
    margin-right: 15px;
    color: #999999;
    padding: 0;
    font-size: 14px;
    &:hover, &:focus {
      color: #ff5c97;
    }
  }
}

/* Contact */
.contact-info__icon {
  width: 30px;
  text-align: center;
}

/* Footer */
.footer-main {
  .footer-tittle h2 {
    color: #012f5f;
    font-size: 20px;
    margin-bottom: 48px;
    font-weight: 500;
    text-transform: capitalize;
  }
  .footer-pera {
    p {
      margin-bottom: 10px;
      line-height: 1.8;
    }
  }
  .footer-social {
    margin-top: 50px;
    ul {
      li {
        display: inline-block;
        a {
          display: block;
        }
      }
    }
  }
}

/* Comment form */
.comment-list {
  .user {
    width: 100%;
    h5 {
      font-size: 16px;
      margin-bottom: 0px;
    }
    .thumb {
      min-width: 70px;
      margin-right: 20px;
    }
    .desc {
      min-width: calc(100% - 70px);
    }
    .date {
      font-size: 14px;
      color: #999999;
      margin-bottom: 0;
      margin-left: 20px;
    }
  }
  ul.links {
    li {
      display: inline-block;
      a {
        background-color: transparent;
        color: #888888;
        padding: 5px 18px;
        font-size: 14px;
        display: block;
        font-weight: 400;
        text-transform: uppercase;
      }
    }
  }
}

.comments-area {
  .indented {
    margin-left: 30px;
    padding-bottom: 48px;
  }
}
.comment-form {
  form {
    border-top: unset;
    padding-top: unset;
    margin-top: unset;
    margin-bottom: unset;
  }
  textarea, input {
    width: 100%;
    border-radius: 0;
    margin-bottom: 30px;
  }
  .filter-wrapper {
    display: none;
  }
  [data-drupal-selector="edit-submit"] {
    width: auto;
  }
}

/* Hero block */
.hero {
  &--style-2 {
    .hero__img {
      img {
        margin-left: -50px;
        padding-top: 50px;
      }
    }
  }
  &--style-3,
  &--style-4 {
    .hero__caption {
      .hero__title {
        font-size: 50px;
      }
    }
    .hero__text {
      margin-bottom: 55px;
      padding-right: 55px;
    }
  }
  .hero__caption {
    p {
      margin-bottom: unset;
      padding-right: unset;
    }
  }
  &__text {
    margin-bottom: 55px;
    padding-right: 155px;
  }
  &__img {
    img {
      display: block;
      min-width: 100%;
      margin: 0;
      padding: 0;
    }
  }
  &__title {
    font-size: 65px;
    font-weight: 700;
    color: #2b4b80;
    line-height: 1.2;
    text-transform: capitalize;
    margin-bottom: 40px;
  }
  &__link {
    a {
      background: #ff5c97;
      -moz-user-select: none;
      text-transform: capitalize;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 1px;
      line-height: 0;
      margin-bottom: 0;
      border-radius: 5px;
      min-width: 200px;
      transition: color 0.4s linear;
      position: relative;
      z-index: 1;
      border: 0;
      overflow: hidden;
      padding: 30px 56px;
    }
  }
}

/* Inquiry block */
.block--inquiry {
  position: relative;
  padding: 64px 69px 54px 78px;
  background-repeat: no-repeat;
  border-radius: 10px;
  background-size: cover;
  &:before {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    content: "";
    border-radius: 10px;
    opacity: 0.95;
    background-image: linear-gradient(90deg, #ff5c98 0%, #7b40c0 100%);
  }
  .block__title {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 13px;
  }
  .block__text {
    padding-right: 20px;
    margin-bottom: 30px;
  }
  .block__link {
    .btn {
      position: relative;
      background: #fff;
      color: #7b40c0;
      &:hover, &:focus {
        color: #fff;
      }
    }
  }
  p {
    color: #fff;
  }
}

/* Card */
.card {
  border-radius: 6px;
  border: 1px solid #f2f2f2;
  transition: all .3s ease-out 0s;
  padding: 1.5rem;
  &--white {
    background: #fff;
  }
  &--horizontal {
    flex-direction: row;
  }
  &__link {
    i {
      background: #c5ccd8;
      width: 24px;
      height: 24px;
      display: inline-block;
      line-height: 24px;
      color: #fff;
      border-radius: 50%;
      margin-right: 7px;
      transition: all .3s ease-out 0s;
      text-align: center;
    }
    a {
      color: #c5ccd8;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 500;
      transition: all .3s ease-out 0s;
    }
  }
  &:hover, &:focus {
    box-shadow: 0px 10px 30px 0px rgba(133,66,189,0.1);
    .card {
      &__link {
        i {
          background: #7b40c0;
        }
        a {
          color: #7b40c0;
        }
      }
    }
  }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
  .block--inquiry {
    .block__link {
      float: right;
    }
  }
}
