/* Blog content */
.single-post-area {
  .blog_details {
    blockquote {
      background: rgba(130,139,178,0.1);
      padding: 15px;
      line-height: 1.733;
      color: #888888;
      font-style: italic;
      margin-top: 25px;
      margin-bottom: 25px;
      p {
        background: #fff;
        padding: 15px 15px 15px 20px;
        border-left: 2px solid;
        margin: 0;
      }
    }
  }
  .feature-img {
    img {
      width: 100%;
    }
  }
  .navigation-area {
    .thumb {
      max-width: 60px;
    }
  }
}

.blog-tags {
  display: inline-block;
  span {
    &:after {
      content: ', ';
    }
    &:last-child {
      &:after {
        content: '';
      }
    }
  }
}

.blog_item_img {
  img {
    display: block;
    width: 100%;
  }
}

.article__like {
  color: #707b8e;
  font-size: 14px;
}

.article__card {
  .article__featured-image {
    overflow: hidden;
    border-radius: 10px;
    img {
      width: 100%;
      border-radius: 10px;
      margin-bottom: 40px;
      -webkit-transition: all .4s ease-out 0s;
      -moz-transition: all .4s ease-out 0s;
      -ms-transition: all .4s ease-out 0s;
      -o-transition: all .4s ease-out 0s;
      transition: all .4s ease-out 0s;
      transform: rotate(1deg) scale(1);
    }
  }
  .article__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 26px;
    padding-right: 27px;
    a {
      color: #2b4b80;
      &:hover, &:focus {
        color: #ff5c97;
      }
    }
  }
  .article__body {
    p {
      color: #ff5c97;
    }
  }
  .article__link {
    color: #233d63;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 27px;
    display: block;
    padding-left: 65px;
    position: relative;
    &:before {
      position: absolute;
      content: "";
      width: 40px;
      height: 3px;
      background: #7b40c0;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }
  }
}

@media (min-width: 768px) {
  .single-post-area {
    .blog_details {
      blockquote {
        padding: 30px;
        p {
          padding: 25px 25px 25px 30px;
        }
      }
    }
  }
}
