/* Utility */
img {
  max-width: 100%;
  height: auto;
}

/* Form */
input,
textarea {
  width: 100%;
  border: 1px solid #e5e6e9;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  font-size: 13px;
  background: transparent;
}

input {
  min-height: 48px;
}

input[type="submit"] {
  width: auto;
  background: #fff;
  display: inline-block;
  padding: 10px 15px;
  font-family: "Poppins",sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #ff5c97;
  letter-spacing: 3px;
  text-align: center;
  color: #ff5c97;
  text-transform: uppercase;
  cursor: pointer;
  height: auto;
  &:hover, &:focus {
    background: #ff5c97;
    color: #fff;
    border: 1px solid #ff5c97;
  }
}

/* Status messages */
[data-drupal-messages] {
  padding: 0.5rem 1rem;
  background: #fafafa;
  margin-bottom: 2rem;
  border: 1px solid #eee;
}

/* Admin tabs */
#block-tabs {
  ul {
    margin: 1rem 0;
    li {
      display: inline-block;
      a {
        display: block;
        color: #555555;
        padding: 0.5rem;
        border: 1px solid #555555;
        line-height: 1;
      }
    }
  }
}
